@* VAI VIRAR JAVASCRIPT *@

@{
    ViewData["Title"] = "Confirmação";
}

<h3>Produto adicionado com sucesso!</h3>
<br>
<a asp-action="AddProduto">Adicionar um novo produto.</a>
<br><br>
<a asp-action="Produtos">Voltar para a página de produtos.</a>

