@{
    ViewData["Title"] = "inGamerside - Em alta";
}

<div class="main-70">
    <div>
        <h1 class="t1"><a href="https://www.twitch.tv" target="_blank" rel="noopener noreferrer"><img class="logo img-rec" src="~/imagens/Twitchlogo.PNG"></a><span class="text_shadow">Canais em alta na Twitch:</span></h1>
        <div class="recomendados">
            <figure>
                <a href="https://www.twitch.tv/luanzindlp" target="_blank" rel="noopener noreferrer"><img src="~/imagens/luanzindlp.png " class="img-rec" title="luanzindlp"></a>
                <figcaption class="text_shadow">LUANZINDLP</figcaption>
            </figure>

            <figure>
                <a href="https://www.twitch.tv/alukaraii" target="_blank" rel="noopener noreferrer"><img src="~/imagens/alukaraii.png" class="img-rec" title="sorryempt"></a>
                <figcaption class="text_shadow">ALUKARAII</figcaption>
            </figure>

            <figure>
                <a href="https://www.twitch.tv/f4ntasmatico" target="_blank" rel="noopener noreferrer"><img src="~/imagens/f4ntasmatico.png" class="img-rec" title="f4ntasmatico"></a>
                <figcaption class="text_shadow">F4NTASMATICO</figcaption>
            </figure>
        </div>
    <br><br>

        <h1 class="t1">
            <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><img class="logo img-rec" src="~/imagens/Youtubelogo.PNG"></a>
            <span class="text_shadow">Canais em alta no Youtube:</span>
        </h1>
        <div class="recomendados">
            <figure>
                <a href="https://www.youtube.com/channel/UCDsAWHaCALpqexfAoRd2ZJA" target="_blank" rel="noopener noreferrer"><img src="~/imagens/luanzindlp.png" class="img-rec" title="luanzindlp"></a>
                <figcaption class="text_shadow">LUANZINDLP</figcaption>
            </figure>

            <figure>
                <a href="https://www.youtube.com/LivesAlanzoka" target="_blank" rel="noopener noreferrer"><img src="~/imagens/alanzoka.jpg" class="img-rec" title="LivesAlanzoka"></a>
                <figcaption class="text_shadow">LIVES DO ALANZOKA</figcaption>
            </figure>
            
            <figure>
                <a href="https://www.youtube.com/channel/UCMSfQ66NgGyvArkE59qip2A" target="_blank" rel="noopener noreferrer"><img src="~/imagens/andinho.jpg" class="img-rec" title="andinho1"></a>
                <figcaption class="text_shadow">ANDINHO</figcaption>
            </figure>
        </div>
    </div>
</div>