@{
    ViewData["Title"] = "inGamerside - Página inicial";
}

<div class="main-70">
    <div>
        <h2 class="text_shadow">O que é a inGamerside?</h2>
        <p>A inGamerside é uma loja especializada em produtos para gamers, oferecendo uma ampla variedade de itens que atendem às necessidades e desejos dos entusiastas de jogos eletrônicos. Aqui você poderá encontrar diversos acessórios, jogos e mercadorias relacionadas, buscamos fornecer aos gamers a experiência de viver novas histórias e mergulhar em seus universos favoritos. Nossa equipe é composta por apaixonados por jogos, que estão sempre atualizados com as últimas tendências e tecnologias do mercado para fornecer recomendações e suporte especializado aos nossos clientes.</p>
            <br>

        <h2 class="text_shadow">Qual é a nossa missão?</h2>
        <p>Nossa missão é ser a principal referência e destino para os gamers em busca de produtos de qualidade e serviços excepcionais. Nosso objetivo é oferecer uma experiência de compra única, proporcionando seleção de produtos, atendimento personalizado e entrega rápida.</p>
            <br>
            
        <h2 class="text_shadow">O que nós buscamos?</h2>
        <p>Nossa visão é ser reconhecidos como a marca líder no mercado de produtos para gamers, sendo conhecidos por nossa excelência em atendimento ao cliente, variedade de produtos e por nos mantermos sempre à frente das últimas tendências do setor. Almejamos criar uma comunidade vibrante e engajada, conectando jogadores e compartilhando o amor pelos jogos.</p>
            <br>

        Agora que você ja conhece um pouco da nossa empresa, caso queira também conhecer nossos produtos, você pode clicar na aba "produtos" no catálogo no topo da página.
    </div>
</div>